<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p

  <%= link_to "Student Sign up", new_student_registration_path %>
  <%= link_to "Student Sign in", new_student_session_path %>
   <%= link_to "Professor Sign up", new_professor_registration_path %>
   <%= link_to "ProfessorSign in", new_professor_session_path %>
<%= link_to "Student Sign up !", new_student_registration_path, class: "btn btn-large btn-primary" %>

